{% extends "skoolie/navbar.html" %}

{% block title %}
Dashboard | Skoolie
{% endblock %}


{% block CONTENT %}
<style>
    .task_list > p,
    .work_list > p,
    .club_reminders > p,
    .imp_events > p {
        text-align: center;
        vertical-align: middle;
        line-height: 2.4em;
    }
    div a, #mamta{
        margin-left: 9px;
    }
    .erp,.curriculum{
        position: relative;
    }
    #mamta{
        position: absolute;
        top:6px;
    }
    #fnl:hover{
        cursor:pointer;
    }
</style>
<main>
    <br><br>
    <h1><strong>{{ GREET }}, {{ NAME }}!</strong></h1>
    <br><br>
    <div class="container">
        <div class="item" id="todo">
            <div class="heading">
                <!-- follow this format -->
                {% load static %}
                <img src="{% static 'skoolie/icons/icons/check-solid.svg' %}" alt="Logo" style="display: inline;"
                    class="logo">
                <!-- follow this format -->
                <p style="display:inline;">To-Do</p>
            </div>
            <br>
            <div class="task_list">
                <p>Web3 Seminar at 5pm</p>
                <p>Gym at 7pm</p>
                <p>Clean your room</p>
            </div>
        </div>
        <div class="item" id="testandass">
            <div class="heading">
                <!-- follow this format -->
                {% load static %}
                <img src="{% static 'skoolie/icons/book-open-solid.svg' %}" alt="Logo"
                    style="display: inline;width: 30px;" class="logo">
                <p style="display:inline;">Test and Assignments</p>
            </div>
            <br>
            <div class="work_list">
                <p>CT quiz</p>
                <p>Minor project submission</p>
                <p>EMF tutorial submission</p>
            </div>
        </div>
        <div class="item" id="club_societies">
            <div class="heading">
                <img src="{% static 'skoolie/icons/award-solid.svg' %}" alt="Logo" style="display: inline;width:1.18em;"
                    class="logo">
                <p style="display:inline;">Clubs and Socities</p>
            </div>
            <br>
            <div class="club_reminders">

                <p>SPICE workshop at 6pm</p>
                <p>Zeal meet up at 7pm</p>
                <p>SI Crew meeting at 8:30pm</p>

                <form action="{% url 'clubs' %}" method="POST">
                     {% csrf_token %}
                    <input type="hidden" name="rollno" value="{{ rollno }}">
                    <input id="fnl" style="margin-left: 160px;font-weight: 500;padding:5px;background-color: #00ffe0;border:none;border-radius:30px;margin-top:63px;"type="submit" value="Know More..">
                </form>

            </div>
        </div>
        <div class="item" id="upcom_events">
            <div class="exam_reminder">
                <div class="heading">
                    <img src="{% static 'skoolie/icons/book-solid.svg' %}" alt="Logo" style="display: inline;"
                        class="logo">
                    <p style="display:inline;">Upcoming Exams</p>
                </div>
                <div class="exam_data">
                    <p style="margin-left: 50px;line-height: 35px;"><span style="font-size: 18px;">Mid term Exams in
                        </span><br><span style="font-size: 30px;font-weight: bold;">12 days</span></p>
                </div>
            </div>
            <div class="attendance_reminder" style="background-color: {{ ATTENDANCE_SHADE }}">
                <div class="heading">
                    <img src="{% static 'skoolie/icons/day_4341579.png' %}" alt="Logo"
                        style="display: inline;width:35px" class="logo">
                    <p style="display:inline;">Attendance</p>
                </div>
                <a href="{% url 'attendance' %}">
                    <div class="attendance_data">
                        <p style="text-align:center; font-weight:bold;font-size:14px;">{{ ATTENDANCE }}</P>
                        <form action="{% url 'attendance' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="rollno" value="{{ rollno }}">
                            <input id="fnl" style="margin-left: 163px;font-weight: 500;padding:5px;background-color: #E6FFFC;border:none;border-radius:30px;margin-top:18px;"type="submit" value="Know More..">
                        </form>
                    </div>
                </a>

            </div>
        </div>
        <div class="item" id="Pinned">
            <div class="heading">
                <img src="{% static 'skoolie/icons/map-pin-alt.svg' %}" alt="Logo" style="display: inline;"
                    class="logo">
                <p style="display:inline;">Pinned</p>
            </div>
            <br>
            <div class="imp_events">
                <p></p>
                <p><!-- Data Goes here --></p>
                <p><!-- Data Goes here --></p>
            </div>

        </div>
    </div>
    <br>
    <div class="container2" id="implinks">
        <div class="curriculum">
            <a href="https://www.nitj.ac.in/template/index.html?id=64a4f538e7b4137ef2c5a9fe?category=newpage" target="_blank"><img
                    src="{% static 'skoolie/icons/curriculum.svg' %}"alt="logo"><span id="mamta" >Curriculum</span></a>
        </div>
        <div class="erp">
            <a href="https://v1.nitj.ac.in/erp/login" target="_blank"><img src="{% static 'skoolie/icons/erp.svg' %}"
                    alt="logo" ><span id="mamta">ERP Portal</span></a>
        </div>
    </div>
</main>
{% endblock %}