{% extends "skoolie/navbar.html" %}

{% block title %}
    Dashboard | Skoolie
{% endblock %}


{% block CONTENT %}
<!-- <div class="top_bar"> -->
    <!-- <img src="#" alt="" id="icon"> --> <!-- Uncomment to add logo -->
    <!-- <label><strong>Skoolie</strong></label> -->
    <!-- <a href="#" class="opt1">Home</a>
    <a href="#" class="opt2">Attendance</a> -->
    <!-- <p class="date"></p>
    <a href="#" class="notif"><img src="" alt="" class="noti"></a>
    <div class="profile">
        <div class="upcoming"></div>
        <div class="calender"></div>
    </div> -->

<!-- </div> -->
<main>
    <br><br>
    <h1><strong>Good Morning, <!-- Name of User Goes here --> !</strong></h1>
    <br><br>
    <div class="container">
        <div class="item" id="todo">
            <div class="heading">
                <!-- follow this format -->
                {% load static %}
                <img src="{% static 'skoolie/icons/edit.svg' %}" alt="Logo" style="display: inline;" class="logo">
                <!-- follow this format -->
                <p style="display:inline;">To-Do</p>
            </div>
            <br>
            <div class="task_list">
                <p><!-- Data Goes here --></p>
                <p><!-- Data Goes here --></p>
                <p><!-- Data Goes here --></p>
            </div>
        </div>
        <div class="item" id="testandass">
            <div class="heading">
                <img src="{% static 'skoolie/icons/test.svg' %}" alt="Logo" style="display: inline;" class="logo">
                <p style="display:inline;">Test and Assignments</p>
            </div>
            <br>
            <div class="work_list">
                <p><!-- Data Goes here --></p>
                <p><!-- Data Goes here --></p>
                <p><!-- Data Goes here --></p>
            </div>
        </div>
        <div class="item" id="club_societies">
            <div class="heading">
                <img src="{% static 'skoolie/icons/trophy.svg' %}" alt="Logo" style="display: inline;" class="logo">
                <p style="display:inline;">Clubs and Socities</p>
            </div>
            <br>
            <div class="club_reminders">
                <p><!-- Data Goes here --></p>
                <p><!-- Data Goes here --></p>
                <p><!-- Data Goes here --></p>
            </div>
        </div>
        <div class="item" id="upcom_events">
            <div class="exam_reminder">
                <div class="heading">
                    <img src="{% static 'skoolie/icons/exam.svg' %}"  alt="Logo" style="display: inline;" class="logo">
                    <p style="display:inline;">Upcoming Exams</p>
                </div>
                <div class="exam_data">
                    <!-- Dynamic data should go here-->
                </div>

            </div>
            <div class="attendance_reminder">
                <div class="heading">
                    <img src="{% static 'skoolie/icons/thumbs-up.svg' %}"  alt="Logo" style="display: inline;" class="logo">
                    <p style="display:inline;">Attendance</p>
                </div>
                <div class="attendance_data">
                    <!-- Dynamic data goes here -->
                </div>

            </div>
        </div>
        <div class="item" id="Pinned">
            <div class="heading">
                <img src="{% static 'skoolie/icons/map-pin-alt.svg' %}"  alt="Logo" style="display: inline;" class="logo">
                <p style="display:inline;">Pinned</p>
            </div>
            <br>
            <div class="imp_events">
                <p><!-- Data Goes here --></p>
                <p><!-- Data Goes here --></p>
                <p><!-- Data Goes here --></p>
            </div>
            
        </div>
    </div>
    <br>
    <div class="container2" id="implinks">
        <div class="curriculum">
           <a href="#"><img src="{% static 'skoolie/icons/curriculum.svg' %}" alt="logo">Curriculum</a>
        </div>
        <div class="erp">
            <a href="#"><img src="{% static 'skoolie/icons/erp.svg' %}" alt="logo">ERP Portal</a>
        </div>
    </div>
</main>
{% endblock %}
