*{
    font-family: rubik;
    font-weight: 300;
}
p.ii{
    margin: 0px;
    font-size: 16px;
    text-align: center;
}
h2.subname{
    margin: 0px;
}
html.attendance{
    padding: 0px;
    margin: 0px;
    background-color: #FFFFFFFD;
}
div.cotn{    
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 10px;
    row-gap: 10px;
    height: inherit;
}
div.item{
    background-color: #E6FFFC;
    height: 280px;
    border: 1px black solid;
    border-radius: 9px;
    box-shadow: 3px 3px 0px 0px;
}
h2.subname{
    text-align: center;
    margin-bottom: 3px;
    font-weight: bolder;
    margin-top: 2px;
}
div.incotn{
    display: grid;
    grid-template-rows: 70px 1fr;
    justify-content: center;
    align-items: center;
    row-gap: 5px ;
}
div.incotn>p{
    background-color: #FFFFFFFD;
    width: 225px;
    border: 1px solid black;
    border-radius:9px;
    text-align: center;
}
.data{
    background-color: #FFFFFFFD;
    width: 99%;
    height: 130px;
    border: 1px solid black;
    border-radius:9px;
    place-self: center;
}
hr{
    margin:auto;
    
    width: 80%;
}