*{
    font-family: rubik;
    font-weight: 300;
    padding: 0px;
}
label{
    font-weight: bold;
    font-size: larger;
    font-weight: 700;
    font-family: rubik;
}
body{
    padding: 0px;
    margin: 0px;
    background-color: #FFFFFFFD;
}
main{
    padding-left: 2%;
}
p{
    padding: 0px;
    margin: 0px;
    font-size: 0.8em;
    font-weight: 400;
}
a{
    color: black;
    text-decoration: none;

}
.container{
    background-color:#FFFFFFFD;
    max-width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.item{
    background-color: #E6FFFC;
    height: 280px;
    max-width:90%;
    align-self: center;
    border-color:black ;
    border-width: 1px 1px 1px 1px;
    border-style:solid;
    border-radius: 10px;
    box-shadow: 3px 3px 0px 0px;

}
.container2{
    display: grid;
    height: 40px;
    background-color:#FFFFFFFD;
    grid-template-columns: repeat(5,1fr);
}
.curriculum, .erp {
    background-color: purple;
    height: 30px;
    align-self: center;
    column-gap: 5px;
    width: 90%;
    background-color:#E6FFFC ;
    border: solid 1px black;
    border-radius: 5px;
    text-align: left;
    box-shadow: 3px 3px 0px 0px;
    display: flex;
    align-items: center;
}
#upcom_events{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    row-gap: 6px;
    size: 300px;
    border: none;
    background-color:#FFFFFFFD;
    box-shadow: none;
}
.exam_reminder,.attendance_reminder{
    height: 135px;    
    background-color: #E6FFFC;  
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 0px 0px;
}
.heading{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 7px;
}
.heading img{
    padding:4px;
}
.heading p{
    margin-left: 10px;
    font-size: 13px;
}

.task_list,.work_list,.club_reminders,.imp_events{
    display:grid;
    background-color: #E6FFFC;
    padding-left: 8px;
    grid-template-rows: auto;
    align-self: center;
    row-gap: 10px;
    overflow-y:auto;
}
.task_list>p,.work_list>p,.club_reminders>p,.imp_events >p{
    max-width: 90%;
    background-color: #FFFFFFFD;
    height: 30px;
    border: 1px black solid;
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    line-height: 2.4em;
}
img.logo{
    width: 24px;
}
