header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDF5E0;
    border-bottom: 1px solid black;
    height: 70px;
}

header .left {
    padding: 10px 20px;
}

header h2 {
    font-size: 35px;
    font-weight: 500;
}

header .right {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}

.ctn{
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: baseline;
}

#time{
    padding: 5px 20px;
    font-weight: 400;
    font-size: 26px;
}

header .right .icon{
    border: 1px solid black;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header img {
    display: block;
    height: 35px;
}